@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

:root {
  --white: #fff;
  --black: #000;
  --bg: #a30000;
  --card_background: #f2d7d7a0;
}

.navbar {
  margin: 10px;
  background-color: var(--bg);
  border-radius: 10px;
  padding-left: 60px;
  display: flex;
  gap: 750px;
  height: 70px;
  align-items: center;
}

.navlink {
  display: flex;
  gap: 40px;
}

.navlink li,
a {
  list-style: none;
  text-decoration: none;
  font-size: 1.05rem;
  background-color: var(--white);
  padding: 4px;
  border-radius: 10px;
  color: var(--black);
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--white);
}

.hero_sec {
  background-image: url("./assets/images/hero.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 460px;
  width: 1230px;
  /* border: 2px solid red; */
  margin-left: 60px;
  margin-top: 50px;
  border-radius: 10px;
}

.hero_text {
  color: var(--white);
  padding-left: 70px;
  padding-top: 40px;
  font-weight: 800;
  font-size: 4.3rem;
  line-height: 80px;
}
/* styling the span text */
.text {
  padding-left: 60px;
}

/* styling the into text */
.hero_intro {
  color: var(--white);
  font-size: 1.08rem;
  width: 80ch;
  padding-left: 60px;
  padding-top: 20px;
}

/* styling the hero button */

.btn {
  margin-left: 70px;
  margin-top: 20px;
  width: 170px;
  height: 37px;
  background-color: var(--white);
  border: none;
  border-radius: 10px;
  font-size: 0.9rem;
  font-weight: 500;
}

.secure_text {
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 100px;
  font-size: 2.5rem;
  font-weight: 600;
  width: 26ch;
  line-height: 50px;
}

.cards_container {
  margin-bottom: 100px;
  display: grid;
  margin-right: 50px;
  margin-left: 25px;
  grid-template-columns: 1fr 1fr 1fr;
}

/* styling the cards section */

.cards {
  /* border: 2px solid red; */
  width: 370px;
  height: 255npx;
  margin-left: 20px;
  margin-top: 50px;
  border-radius: 10px;
  background-color: var(--card_background);
}

/* styling card icon */
.lock {
  font-size: 2.5rem;
  padding-top: 10px;
  padding-left: 20px;
  color: var(--bg);
}

/* styling card text */

.card_text {
  padding-left: 20px;
  padding-top: 5px;
  font-size: 1.3rem;
  font-weight: 500;
}

/* styling card button */
.btn2 {
  background-color: var(--bg);
  color: var(--white);
  height: 30px;
  width: 100px;
  border: none;
  display: inline-block;
  /* margin-top: px; */
  margin-left: 10px;
  border-radius: 10px;
}

.card_info {
  padding: 20px;
  font-size: 0.95rem;
}

/* styling the industry section */

.indusry-images-container {
  display: flex;
  margin-left: 80px;
}

.industry-text {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 45px;
  text-align: center;
  margin-top: 40px;
}

.image1 {
  margin-left: 30px;
  margin-top: 50px;
}

.image-one {
  width: 640px;
  height: 480px;
  border-radius: 20px;
  position: relative;
}

.image-text {
  position: absolute;
  top: 1630px;
  color: #fff;
  z-index: 2;
  margin-left: 30px;
  width: 28ch;
  font-size: 1.8rem;
}

/* styling second images  */

.second-images {
  width: 400px;
  /* height: 230px; */
  border-radius: 20px;
}

.second_images {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-left: 40px;
  margin-top: 50px;
}

/* styling the question and answers section */

.question-header {
  font-size: 1.4rem;
  font-weight: 600;
  margin-left: 30px;
  padding-top: 10px;
  color: #373535;
}

.question_container {
  /* border: 2px solid red; */
  width: 800px;
  height: 65px;
  margin-left: 270px;
  margin-bottom: 40px;
  margin-top: 40px;
  border-radius: 10px;
  background-color: var(--card_background);
  position: relative;
  cursor: pointer;
  transition: all 1.2s;
  overflow-y: hidden;
}

.question_container:hover {
  height: 230px;
}
.question_container:hover .drop {
  display: flex;
}
.question_container:hover .expand {
  display: none;
}

.expand {
  position: absolute;
  top: 15px;
  left: 735px;
  font-size: 1.5rem;
}

.drop {
  position: absolute;
  top: 15px;
  left: 735px;
  font-size: 1.5rem;
  display: none;
}

.answer_tag {
  margin-left: 30px;
  margin-top: 15px;
  font-size: 0.97rem;
  font-weight: 500;
}

.answer {
  margin: 20px;
  font-size: 1.1rem;
}

.footer_container {
  height: 990px;
  width: 1250px;
  margin-left: 46px;
  /* border: 2px solid red; */
  background-color: var(--bg);
  border-radius: 20px;
  margin-top: 250px;
  margin-bottom: 40px;
  position: relative;
}

.footer-title {
  text-align: center;
  color: var(--white);
  font-size: 2rem;
  font-weight: 600;
  width: 20ch;
  margin-left: 400px;
  padding-top: 50px;
}

.footer-text {
  font-size: 0.9rem;
  margin-left: 360px;
  color: #d7d3d3;
}

.footer-image {
  width: 1200px;
  position: absolute;
  top: 120px;
  left: 40px;
}

.footer-details_container {
  position: relative;
  top: 620px;
  /* left: 60px; */
  margin-left: 70px;
  display: flex;
  gap: 450px;
}

.footer-logo {
  font-size: 2.5rem;
  color: var(--white);
  font-weight: 700;
  margin-left: 10px;
}

.btn4,
.btn3 {
  width: 145px;
  height: 40px;
  border: none;
  border-radius: 20px;
  margin-top: 20px;
  font-size: 0.85rem;
}

.btn4 {
  margin-right: 30px;
}

.btn3 {
  background-color: var(--bg);
  border: 2px solid var(--white);
  color: var(--white);
}

.footer-social i {
  color: var(--white);
  font-size: 1.7rem;
  margin-right: 50px;
  margin-top: 20px;
}

.footer-social {
  margin-left: 20px;
}

.footer-links_container {
  display: flex;
  gap: 100px;
  font-size: 1.2rem;
  margin-top: 40px;
  color: var(--white);
}

.footer-links,
.footer-links1 li {
  list-style-type: none;
  margin-top: 5px;
}

.footer-links h4 {
  color: #b5aaaa;
}
.footer-links1 h4 {
  color: #b5aaaa;
}
